@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "notyf/notyf.min.css";

@font-face {
    font-family: "BACHELOR";
    src: url("../../public/fonts/Bachelor\ Bold.ttf");
}
@font-face {
    font-family: "CARUBAN";
    src: url("../../public/fonts/Caruban-EBK8.ttf");
}
@font-face {
    font-family: "BACHELOR REGULAR";
    src: url("../../public/fonts/Bachelor\ Regular.ttf");
}
@font-face {
    font-family: "ARINGGO";
    src: url("../../public/fonts/Aringgo.ttf");
}
@font-face {
    font-family: "BOHEMIAN SOUL";
    src: url("../../public/fonts/BohemianSoul.otf");
}

.ss-list .ss-option:hover {
    background-color: theme("colors.coklat.2") !important;
    color: white !important;
}

.ss-optgroup-label-selectable:hover {
    background-color: theme("colors.coklat.hover") !important;
    color: white !important;
}

.ss-value {
    background-color: theme("colors.coklat.2") !important;
    color: white !important;
}

.ss-search input:focus {
    border-color: theme("colors.base-brown.300") !important;
    box-shadow: 0 0 0 3px rgba(209, 177, 148, 0.5) !important;
}

.custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.custom-shadow-hover:hover {
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.text-shadow {
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.5))
        drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}

.custom-scroll ::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

/* Track */
.custom-scroll ::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

/* Handle */
.custom-scroll ::-webkit-scrollbar-thumb {
    background: rgb(211, 210, 210) !important;
}

/* Handle on hover */
.custom-scroll ::-webkit-scrollbar-thumb:hover {
    background: rgb(187, 187, 187) !important;
}

html {
    scroll-behavior: smooth;
}

[x-cloak] {
    display: none !important;
}

.bg-move:hover {
    background-position-y: -400px;
    transition: 0.5s;
}

.tippy-box[data-theme~="menu"] {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.custom-owl-dot {
    @apply w-4 h-4 rounded-full border-2 mx-6 border-[#031728];
}

.custom-owl-dot.active {
    @apply w-4 h-4 rounded-full mx-6 bg-[#031728];
}

.custom-owl-dots {
    @apply flex justify-center mt-8 pb-4;
}

.custom-berita-dots {
    @apply flex justify-center mt-12;
}

.custom-berita-dot {
    @apply w-4 h-4 rounded-full mx-2 bg-gray-300;
}

.custom-berita-dot.active {
    @apply w-4 h-4 rounded-full mx-2 bg-gray-800;
}

#video-selamat-datang {
    box-shadow: -15px -15px 0 #f5f5fc, -25px -25px #800000, 15px 15px 0 #f5f5fc,
        25px 25px #800000;
}

@media screen and (max-width: 576px) {
    #ellips1 {
        transform: translateX(-40px);
    }
    #ellips2 {
        transform: translate(40px, 60px);
    }
}

@media screen and (min-width: 576px) {
    #ellips1 {
        transform: translateX(-40px);
    }
    #ellips2 {
        transform: translate(40px, 60px);
    }
}

@media screen and (min-width: 768px) {
    #ellips1 {
        transform: translateX(-70px);
    }
    #ellips2 {
        transform: translate(70px, 110px);
    }
}

@media screen and (min-width: 992px) {
    #ellips1 {
        transform: translateX(-70px);
    }
    #ellips2 {
        transform: translate(70px, 110px);
    }
}

@media screen and (min-width: 1200px) {
    #ellips1 {
        transform: translateX(-100px);
    }
    #ellips2 {
        transform: translate(100px, 110px);
    }
}
