.u-offset-2 {
    text-underline-offset: 0.5rem;
}

.fill-pattern {
    fill: url(#img1);
}

.svg-path {
    fill: none; /* Make the path transparent */
    stroke: #9b9b9b; /* Add a stroke to the path for visibility */
    stroke-width: 8;
}

.selection-kuning::selection {
    background-color: #fad02c;
}

.selection-hijau::selection {
    background-color: #11645a;
    color: wheat;
}

.selection-merah::selection {
    background-color: #d1494d;
}

.selection-biru::selection {
    background-color: #012e4f;
    color: wheat;
}

.bg-motif1 {
    background-image: url("/images/pattern/2024/motif1.png");
    background-size: auto 15rem;
}

.bg-kotak-06 {
    background-image: url("/img/asset/kotak-05.png");
    background-size: 6.25rem;
}
.bg-kotak-07 {
    background-image: url("/img/asset/kotak-07.png");
    background-size: 6.15094rem 6.25rem;
}
.bg-kotak-08 {
    background-image: url("/img/asset/kotak-08.png");
    background-size: 11rem;
}
.bg-kotak-11 {
    background-image: url("/img/asset/kotak-11.png");
    background-size: 6.24131rem 4.375rem;
}

.bg-kotak-10 {
    background-image: url("/img/asset/kotak-10.png");
    background-size: 6.24131rem 4.375rem;
}

.bg-kotak-12 {
    background-image: url("/img/asset/kotak-12.png");
    background-size: 16rem;
}

.spinspin {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.spinspin2 {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}

.shakeanim {
    animation-name: tilt-n-move-shaking;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.shakeanim2 {
    animation-name: tilt-n-move-shaking;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}

.container-badge {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.container-badge .fa-fw {
    font-size: 1.25rem;
}

.container-badge .badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    line-height: 1.25rem;
    font-size: 0.65rem;
    position: absolute;
}

.icon-container .badge {
    top: -0.5rem;
    right: -0.075rem;
}

.burger-container .badge {
    top: 0;
    right: -1rem;
}

.adminBadge-container .badge {
    top: -0.55rem;
    right: -1.5rem;
}

.hero-waves {
    display: block;
    width: 100%;
    height: 100px;
    position: relative;
}

.wave1 use {
    animation: move-forever1 10s linear infinite;
    animation-delay: -2s;
}

.wave2 use {
    animation: move-forever2 8s linear infinite;
    animation-delay: -2s;
}

.wave3 use {
    animation: move-forever3 6s linear infinite;
    animation-delay: -2s;
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }
    50% {
        transform: translate(0, 0) rotate(0eg);
    }
    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}
@media (min-width: 640px) {
    .triangle-top {
        width: 0;
        height: 0;
        border-right: 35px solid #800000;
        border-bottom: 48px solid transparent;
        border-top-right-radius: 0.5rem /* 8px */;
    }
    .triangle-bottom {
        width: 0;
        height: 0;
        border-right: 35px solid #b22222;
        border-bottom: 56px solid #800000;
        border-bottom-right-radius: 0.5rem /* 8px */;
    }
    .triangle-top-long {
        width: 0;
        height: 0;
        border-right: 56px solid #800000;
        border-bottom: 48px solid transparent;
        border-top-right-radius: 0.5rem /* 8px */;
    }
    .triangle-bottom-long {
        width: 0;
        height: 0;
        border-right: 56px solid #b22222;
        border-bottom: 56px solid #800000;
        border-bottom-right-radius: 0.5rem /* 8px */;
    }
}
@media (min-width: 768px) {
    .triangle-top {
        width: 0;
        height: 0;
        border-right: 35px solid #800000;
        border-bottom: 36px solid transparent;
        border-top-right-radius: 0.5rem /* 8px */;
    }
    .triangle-bottom {
        width: 0;
        height: 0;
        border-right: 35px solid #b22222;
        border-bottom: 36px solid #800000;
        border-bottom-right-radius: 0.5rem /* 8px */;
    }
    .triangle-top-long {
        width: 0;
        height: 0;
        border-right: 42px solid #800000;
        border-bottom: 36px solid transparent;
        border-top-right-radius: 0.5rem /* 8px */;
    }
    .triangle-bottom-long {
        width: 0;
        height: 0;
        border-right: 42px solid #b22222;
        border-bottom: 36px solid #800000;
        border-bottom-right-radius: 0.5rem /* 8px */;
    }
}
@media (min-width: 1076px) and (max-width: 1279px) {
    .jabatanKoor {
        font-size: 10px;
        line-height: 0.75rem;
    }
}
@media (min-width: 1024px) {
    .triangle-top {
        width: 0;
        height: 0;
        border-right: 35px solid #800000;
        border-bottom: 35px solid transparent;
        border-top-right-radius: 0.5rem /* 8px */;
    }
    .triangle-bottom {
        width: 0;
        height: 0;
        border-right: 35px solid #b22222;
        border-bottom: 40px solid #800000;
        border-bottom-right-radius: 0.5rem /* 8px */;
    }
    .triangle-top-long {
        width: 0;
        height: 0;
        border-right: 36px solid #800000;
        border-bottom: 35px solid transparent;
        border-top-right-radius: 0.5rem /* 8px */;
    }
    .triangle-bottom-long {
        width: 0;
        height: 0;
        border-right: 36px solid #b22222;
        border-bottom: 40px solid #800000;
        border-bottom-right-radius: 0.5rem /* 8px */;
    }
}
@media (min-width: 1280px) {
    .triangle-top {
        width: 0;
        height: 0;
        border-right: 35px solid #800000;
        border-bottom: 48px solid transparent;
        border-top-right-radius: 0.5rem /* 8px */;
    }
    .triangle-bottom {
        width: 0;
        height: 0;
        border-right: 35px solid #b22222;
        border-bottom: 56px solid #800000;
        border-bottom-right-radius: 0.5rem /* 8px */;
    }
    .triangle-top-long {
        width: 0;
        height: 0;
        border-right: 53px solid #800000;
        border-bottom: 48px solid transparent;
        border-top-right-radius: 0.5rem /* 8px */;
    }
    .triangle-bottom-long {
        width: 0;
        height: 0;
        border-right: 53px solid #b22222;
        border-bottom: 56px solid #800000;
        border-bottom-right-radius: 0.5rem /* 8px */;
    }
}
@media (max-width: 639px) {
    .triangle-top {
        width: 0;
        height: 0;
        border-right: 25px solid #800000;
        border-bottom: 40px solid transparent;
        border-top-right-radius: 0.5rem /* 8px */;
    }
    .triangle-bottom {
        width: 0;
        height: 0;
        border-right: 25px solid #b22222;
        border-bottom: 40px solid #800000;
        border-bottom-right-radius: 0.5rem /* 8px */;
    }
    .triangle-top-long {
        width: 0;
        height: 0;
        border-right: 38px solid #800000;
        border-bottom: 40px solid transparent;
        border-top-right-radius: 0.5rem /* 8px */;
    }
    .triangle-bottom-long {
        width: 0;
        height: 0;
        border-right: 38px solid #b22222;
        border-bottom: 40px solid #800000;
        border-bottom-right-radius: 0.5rem /* 8px */;
    }
}
@media (max-width: 402px) {
    .verticaltext {
        font-size: 8px;
    }
    .horizontaltext {
        font-size: 8px;
    }
    .triangle-top-long {
        border-right: 33px solid #800000;
    }
    .triangle-bottom-long {
        border-right: 33px solid #b22222;
    }
}

.verticaltext {
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.horizontaltext {
    writing-mode: horizontal-tb;
}
